server:
  port: 8000
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:h2:mem:test;MODE=MYSQL;NON_KEYWORDS=USER # MariaDB 가 안됨
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true

  output:
    ansi:
      enabled: always

logging:
  level:
    '[org.springframework.web]': DEBUG
    '[site.metacoding.humancloud]': DEBUG
